/* =============
   Email
============= */
.mails {
  a {
    color: $lightdark7;
  }
  td {
    vertical-align: middle !important;
    position: relative;
    &:last-of-type {
      width: 100px;
      padding-right: 20px;
    }
  }
  tr {
    &:hover {
      .text-white {
        display: none;
      }
    }
  }
  .mail-select {
    padding: 12px 20px;
    min-width: 134px;
  }
  .checkbox {
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
    display: inline-block;
    height: 17px;
    label {
      min-height: 16px;
    }
  }
}
.mail-list {
  .list-group-item {
    background-color: transparent;
    color: $dark;
    &:hover {
      background-color: $lightdark;
    }
    &:focus {
      background-color: $lightdark;
    }
  }
  .list-group-item.active{
    color: $danger;
  }
}
.unread {
  a{
    font-weight: 600;
    color: $lightdark4;
  }
}
