/* =============
  FAQ
============= */
.faq-box {
  padding: 24px 0;
  border-bottom: 1px solid #ebeff2;
  .question {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
  }
  .answer {
    color: $muted;
    margin-bottom: 0;
  }
}