/* Form components */
label {
  font-weight: 600;
}
.form-control {
  font-family: inherit;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  font-size: $font-size-priary;
  &:focus {
    background-color: $white;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
  }
}
textarea.form-control {
  min-height: 90px;
}
select[multiple] {
  height: auto;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal {
  .form-group {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.form-control-feedback {
  line-height: 38px !important;
}
.input-group-btn {
  .btn {
    padding: 8px 12px;
  }
  .btn-sm {
    padding: 4px 10px;
  }
  .btn-lg {
    padding: 10px 17px;
  }
}
.has-success {
  .form-control {
    border-color: $success;
    box-shadow: none !important;
  }
}
.has-warning {
  .form-control {
    border-color: $warning;
    box-shadow: none !important;
  }
}
.has-error {
  .form-control {
    border-color: $danger;
    box-shadow: none !important;
  }
}
.input-group-addon {
  border-radius: 2px;
  border: 1px solid $light;
}