/* =============
   Nestable
============= */
.custom-dd {
  .dd-list {
    .dd-item {
      .dd-handle {
        background: $lightdark;
        border: none;
        padding: 8px 16px;
        height: auto;
        font-weight: 600;
        border-radius: 3px;
        &:hover {
          color: $custom;
        }
      }
      button {
        height: auto;
        font-size: 17px;
        margin: 8px auto;
        color: $lightdark5;
        width: 30px;
      }
    }
  }
}
.custom-dd-empty {
  .dd-list {
    .dd3-handle {
      border: none;
      background: $lightdark;
      height: 36px;
      width: 36px;
      &:before {
        color: inherit;
        top: 7px;
      }
      &:hover {
        color: $custom;
      }
    }
    .dd3-content {
      height: auto;
      border: none;
      padding: 8px 16px 8px 46px;
      background: $lightdark;
      font-weight: 600;
      &:hover {
        color: $custom;
      }
    }
    button {
      width: 26px;
      height: 26px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}