@media only screen and (max-width: 2560px) {
.hp-banner-container {max-width: 1700px; margin: 0 auto; padding: 0 15px; }
.hp-banner-container-content {max-width: 1375px; margin-left: auto; }
.hp-what-we-do .hp-banner-container-content{margin-right: auto; margin-left: 0;}


}
@media only screen and (max-width: 1699px) {
.hp-banner-container {max-width: 1440px;}
.hp-banner-container-content {max-width: 1243px;}


}
@media only screen and (max-width: 1439px) {
.hp-banner-container {max-width: 100%;}
.hp-banner-container-content {max-width: 1200px;}
h1 {font-size: 50px;}



}
@media only screen and (max-width: 1199px) {
h1 {font-size: 40px;}
h2{font-size: 35px;}





}
@media only screen and (max-width: 1024px) {
.menu a.navbar-brand{max-width: 80px;}
.banner {margin-top: -121px; padding-top: 100px; }





}
@media only screen and (max-width: 991px) {
.banner {padding-top: 140px;  margin-top: -85px; }
.search-section{margin-right: 70px;}
.menu .navbar-light .navbar-toggler {position: absolute; right: 15px; top: 22px; background: #0c5b97 url('../images/menu.png') no-repeat center center; background-size: 27px;}
.menu .navbar-light .navbar-toggler-icon {background-image: none; }
.menu .navbar-collapse {position: absolute; z-index: 1; top: 80px; left: 0; right: 0; background: #ebebeb; }
.menu .navbar-nav {height: 100vh; padding: 30px; }
.menu{background-color: #fff; position: relative;}
.menu a.navbar-brand {max-width: 50px; }
.mem-prof-img{margin: 0 auto; }




}
@media only screen and (max-width: 767px) {
.header-topbar .call {font-size: 0; min-width: 30px; min-height: 30px; background-position: center center; }
h1 {font-size: 30px;}
h2 {font-size: 26px;}
.account-div-height {min-height: auto;}
.new-booking .border-right{border-right: 0 !important;}
footer{padding-bottom: 0;}


}
@media only screen and (max-width: 575px) {
.header-booknow .btn-green {padding: 10px 12px; font-size: 12px; }
.btn-green-lg, .btn-blue{min-width: 230px;}
.my-booking .nav-tabs .nav-link {font-size: 16px !important;}
.menu .navbar-light .navbar-toggler {max-width: 44px; max-height: 38px; background-size: 21px !important; top: 23px;}
.search-section {margin-right: 55px; }
.search-btn img {max-width: 46px; }
.search-box .search-field1 {transform: translateX(0); left: -79px;}
.search-box .search-field1 input[type="text"] {min-height: 50px; width: 200px;}
.search-box .search-field1 input[type="submit"] {padding: 0px 15px;}
.fit-fly-search ul.steps .text-wrap .font-14{font-size: 12px;}
}
@media only screen and (max-width: 480px) {


.fit-fly-search ul.steps li a .icon{width:30px;height:30px;}
.fit-fly-search ul.steps li:after{top:15px;}



}
@media only screen and (max-width: 380px) {
.my-booking-list-box{flex-wrap: wrap; position: relative;}
.my-booking .my-booking-lists .my-booking-lists-div1 {flex-basis: 100%;}
.my-booking .my-booking-lists .my-booking-lists-div2 {flex-basis: 100%;}
.my-booking .my-booking-lists .my-booking-lists-div3 { flex-basis: 100%; text-align: left !important;}
.my-booking .my-booking-lists .my-booking-lists-div3 .upcoming, .my-booking .my-booking-lists .my-booking-lists-div3 .clone-booking{position: absolute; top: 10px; right: 0; margin: 0 !important;}

.fit-fly-steps ul.steps .text-wrap .font-14{font-size: 10px;}


}