/*stylebytej*/
.modal {z-index: 11111; overflow-y: scroll;}
.font-34{font-size: 34px;}
.font-26{font-size: 26px;}
.font-15{font-size: 15px;}
.font-11{font-size: 11px;}
.font-10{font-size: 10px;}
.font600{font-weight:600;}
.font500{font-weight:500;}
.t-light-blue{color:#36455A;}
.t-light-black{color:#161616;} 
.t-purple{color:#3B7BAB;}
.t-bluetwo{color: #090909;}
.t-bluethree{color:#212121;}
.t-bluefour{color: #092C4C;}
.t-bluefive{color:#0A0A0A;}
.available {background-color:#187932;}
.form-control{background-color: transparent;border:none;border-bottom:1px solid rgba(3,1,76,0.34) !important;border-radius:0px;height: auto;padding:5px 15px 10px 0;}
.form-control:focus{background-color: transparent;}
.form-control::placeholder{color: rgba(54,69,90,0.66);}
select.form-control{color: rgba(54,69,90,0.66);cursor: pointer;}
.border-r16{border-radius: 16px;}
.border-r14{border-radius: 14px;}
.border-r12{border-radius: 12px;}
.border-r8{border-radius: 8px;}
.border-r7{border-radius: 7px;}
.shadow-2{box-shadow: 0 10px 40px rgba(0, 0, 0, 0.20);}
.shadow-3{box-shadow: 2px 3px 8px rgba(12, 91, 151, 0.30);}
.modal650{max-width:650px;}
.border-right{border-right: 1px solid rgba(0,0,0,0.15);}
.t-grey{color: #B4B4B4;}
select{-webkit-appearance: none;-moz-appearance: none; appearance: none;}
.select::after{content: "";position: absolute;right:10px;top:50%;background-image: url(../images/down-black.svg);background-repeat: no-repeat;width:14px;height:8px;transform: translateY(-50%);}
.padding-r30{padding-right: 30px !important;}
/*new-booking*/
.container-large{max-width: 1380px; margin: 0 auto; padding: 0 15px;}
.account-div-height{min-height: 600px;}
.my-profile-nav li a{padding: 15px; padding-left: 55px; border-radius: 5px 0 0 5px; display: block; background-color: transparent; transition: 0.2s ease-in; position: relative;}
.my-profile-nav li{margin-bottom: 5px;}
.my-profile-nav li.active a, .my-profile-nav li a:hover{background-color: #187932;}
.prof-nav-booking{background: url('../images/my-booking.png') no-repeat left 15px center;}
.prof-nav-member{background: url('../images/member.png') no-repeat left 15px center;}
.prof-nav-edit{background: url('../images/edit-prof.png') no-repeat left 15px center;}
.prof-nav-help{background: url('../images/prof-help.png') no-repeat left 15px center;}
.logout{ padding-left: 55px; display: block; background: url('../images/logout.png') no-repeat left 25px center;}

/*clinical-registration-page*/
.bg-grey{background-color: #F6F6F6;}
.clinical-registration .container-outer{max-width:1210px;}
.down-arrow{right:0px;background-color: #F6F6F6; bottom:13px;}
.clinical-registration .select::after {content: ""; position: absolute; right: 0px; top: 50%; background-image: url(../images/down-arrow.svg); background-repeat: no-repeat; width: 18px; height: 8px; transform: translateY(-50%);}


/*sign-up-page*/
 .left-one .copyright{bottom:0;left:0;}
.skip-one{right:0px;top:-100px;}
.right-one .block-area{max-width:440px;}
.right-one .block-area label{color:rgba(54,69,90,0.66);}
.right-one .block-area .form-control{border-color:rgba(3,1,76,0.20) !important;}
.right-one .block-area .form-group .icon{right:0px;top:50%;transform: translateY(-50%);}

/*change-password-page*/
.left-one .back{top:0;left:0;}

/*forgot-password-popup*/
.forgot-password-popup .btn-wrap button.close{border:2px solid;float: none;}
.forgot-password-popup .btn-wrap .btn-green-lg{min-width:185px;}


/*new-booking*/
.new-booking .card{background-color: transparent;}
.new-booking .card-header{z-index: 1;margin-bottom:-20px;}
.new-booking .card-header:first-child{border-radius:8px;}
.new-booking .card-header a:before{content: "";position: absolute;right:20px;top:50%;transform: translateY(-50%);background-image: url(../images/down.svg);background-position: right center; background-repeat: no-repeat;width:21px;height:9px;}
.new-booking .card-body{border:1px solid #0C5B97; border-radius:0 0 7px 7px;}
.new-booking .date-block ul li.active a{color: #0C5B97;}
.new-booking  select.form-control{text-transform: uppercase;color: #1E1F20;border:none !important;}

.new-booking .select-timing .down-arrow{bottom: 5px;right:5px;}
.new-booking .select-timing .form-control{border:1px solid #0C5B97 !important;}
.nav-tabs li:first-child{margin:0px;}
.nav-tabs .nav-item{margin: 0 10px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: #0C5B97;color: #ffffff;font-size: 15px;}
.nav-tabs .nav-link{border-radius:50px;}
.test-center-info .form-control::placeholder{color: rgba(0,0,0,0.50);}
.test-center-info .form-control{border-bottom: 1px solid rgba(0,0,0,0.24) !important;}
 
/*search-page*/
ul.filter{top:-60px;left:0px;}
ul.filter li a{width:48px;height:48px;}

.area-block .media{height: 112px;}
.area-block .media img{height: 112px;width: 112px;object-fit: cover;}
.area-block .content-wrapper .location img{left:0px; }
.area-block .content-wrapper .btn-area{right:0px;}



/*filter-options-popup*/
.filter-options-popup .modal-header{border-bottom:1px solid rgba(112,112,112,0.39);}
.progress{height:7px;background-color: rgba(24,121,50,0.16);}
.progress-bar{background-color: #187932;}

.filter-options-popup .btn-wrap .btn-green-lg,.filter-options-popup .btn-wrap .btn-red-lg{min-width:185px;}


/*booking-information-popup*/
.booking-information-popup .btn-wrap .btn-green-lg{min-width: auto;}
.booking-information-popup .btn-wrap .btn-blue{min-width:190px;}

/*add-member-page*/
.member-block{height:120px;left:0;right:0;top:-60px;}
.member-block img{width:120px;height:120px;object-fit: cover;border:3px solid rgba(0,0,0,0.16);}
.member-details .form-group label em{font-style: normal;color:#F50707;}
.member-details .form-control {padding:0px 15px 10px 0;}



/*custom-radio-buttons*/

[type="radio"]:checked, [type="radio"]:not(:checked) {position: absolute; left: -9999px; }
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {position: relative; padding-left: 28px; cursor: pointer; line-height: 20px; display: inline-block; color: #0C5B97; }
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; border: 1px solid #0C5B97; border-radius: 100%; background: #fff;}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {content: ''; width: 10px; height: 10px; background: #0C5B97; position: absolute; top: 5px; left: 3px; border-radius: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
[type="radio"]:not(:checked) + label:after {opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
[type="radio"]:checked + label:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1); }


/*add-member*/
.add-member .form-control{color: #242E42;}
.add-member .select::after {background-image: url(../images/down-arrow.svg);width:18px;height:8px;right:0px;}
.add-member .cal-icon {right: 0;bottom: 10px;}
.add-member .time-red{background-color: #F83030;}
.add-member .time-red a{color: #ffffff;}
.add-member .time-border{border:1px solid #0C5B97;}
.add-member .time-border a{color: #000000;}
.add-member .time-green{background-color:#187932;}
.add-member .time-green a{color: #ffffff;}
.add-member ul.time-slot li{width:10%;min-width: 100px;margin:0 10px 30px 0;border-radius:50px;font-size: 12px;font-weight:600;text-align: center;}
.add-member ul.time-slot li a{padding:5px 20px;display: block;} 


/*add-member-popup*/
.add-member-popup hr{border-top: 1px solid rgba(112,112,112,0.19);}
.add-member-popup .btn-wrap .btn-green-lg{min-width:160px;}

/*member-list-page*/
.member-list-page .list-block{border:3px solid transparent;}
.member-list-page .list-block .media{height: 83px; min-width: 83px; max-width: 83px;}
.member-list-page .list-block .media:before{content:"";position: absolute;left:0;right:0;top:0;bottom:0;margin: 0 auto;background-color: rgba(0,0,0,0.69);z-index: 1;border-radius:50%;opacity: 0;visibility: hidden; display: inline-block; max-width: 83px;}
.member-list-page .list-block .media:after{content: "";position: absolute;left:0;right:0;top:50%;transform: translateY(-50%);margin: 0 auto;background-image: url(../images/checkmark.svg);background-repeat: no-repeat;width: 27px;height:21px;z-index: 1;opacity: 0;visibility: hidden;}
.member-list-page .list-block .media img{height: 83px;width: 83px;object-fit: cover;}
.member-list-page .list-block .member-info .location{padding-left: 0px;}
.member-list-page .list-block.active{border-color: #187932;}
.member-list-page .list-block.active .media:before,.member-list-page .list-block.active .media:after{opacity: 1;visibility: visible;}

/*review-confirm-page*/
.review-confirm-page .count-down{background-color:#EB2727;border-radius:0 13px 0 0;right:0;top: 0;}
.review-confirm-page .review-detail .form-control{color: #242E42;}
.review-confirm-page .review-detail .member-list .list-block{border:1px solid #0C5B97;}
.review-detail .member-list .list-block .info span em{font-style: normal;}
.review-detail .member-list .list-block hr{border-top:1px solid rgba(112,112,112,0.24);}
.review-detail .member-list .list-block .bottom-one ul li{margin-right:10px;}
.review-detail .test-quote ul li{border-bottom: 1px solid rgba(112,112,112,0.39);}
.review-detail .test-quote ul li:last-child{border:none;}

/*/*edit-member-profile-page*/
.edit-member-profile-form .mem-prof-img {width: 120px;height: 120px; margin: -110px auto 60px;}
.edit-member-profile-form .mem-prof-img img {width: 120px;height: 120px;}
.edit-member-profile-form .mem-prof-img .edit-pic{background-color: #b8d2e7;padding:3px 15px; cursor: pointer;}
.edit-member-profile-form .custom-file-label {top: 30px;left:15px;background-color: transparent;border:none;border-bottom:1px solid #C5C5D4 !important;border-radius:0px;height: auto;padding: 5px 5px 10px 0;font-weight:500;}
.edit-member-profile-form .custom-file-input:lang(en)~.custom-file-label::after {content: "Upload Photo";}
.edit-member-profile-form .custom-file-label::after{content:"Upload Photo";color: #0C5B97;border:1px solid #0C5B97;border-radius:14px;padding:3px 8px;line-height: normal;font-size: 10px;background-color: #b8d2e7; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.edit-member-profile-form .mem-prof-img img {border: 3px solid #D3D3D3;}
.edit-member-profile-form .custom-file-label::after{line-height: 1.3rem;}
.edit-member-profile-form .mem-prof-img .edit-pic input[type="file"]{font-size: 0; height: 0; width: 0;}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after{    top: 50%;    margin-top: -5px;}

/*new-booking*/
.new-booking .new-book2{display: none;}
.new-booking .new-book3{display: none;}
.new-booking .new-book4{display: none;}
.add-domestic .new-book1{display: block;}
.add-domestic .new-book2{display: none;}
.add-domestic .new-book3{display: none;}
.add-domestic .new-book4{display: none;}
.add-fitfly .new-book2{display: block;}
.add-fitfly .new-book1{display: none;}
.add-fitfly .new-book3{display: none;}
.add-fitfly .new-book4{display: none;}
.add-fitfly-oneway .new-book3{display: block;}
.add-fitfly-oneway .new-book1{display: none;}
.add-fitfly-oneway .new-book2{display: none;}
.add-fitfly-oneway .new-book4{display: none;}
.add-international .new-book4{display: block;}
.add-international .new-book1{display: none;}
.add-international .new-book2{display: none;}
.add-international .new-book3{display: none;}
.add-fitfly-oneway.add-fitfly .new-book2{display: block;}
.add-fitfly-oneway.add-fitfly .new-book1{display: none;}
.add-fitfly-oneway.add-fitfly .new-book3{display: none;}
.add-fitfly-oneway.add-fitfly .new-book4{display: none;}
.add-fitfly li .test-purpose,.add-fitfly-oneway li .test-purpose{display: block !important;}

.add-fitfly .new-book2 .card-body ul li label:before,.add-fitfly .new-book2 .card-body ul li label:after{display: none;}
.add-fitfly-oneway .new-book3 .card-body ul li label:before,.add-fitfly-oneway .new-book3 .card-body ul li label:after{display: none;}
.add-international .new-book4 .card-body ul li label:before,.add-international .new-book4 .card-body ul li label:after{display: none;}

.add-fitfly .new-book2 .card-body ul li [type="radio"]:checked + label,.add-fitfly-oneway .new-book3 .card-body ul li [type="radio"]:checked + label,.add-international .new-book4 .card-body ul li [type="radio"]:checked + label{color: #0C5B97;}
.add-fitfly .new-book2 .card-body ul li [type="radio"]:not(:checked) + label,.add-fitfly-oneway .new-book3 .card-body ul li [type="radio"]:not(:checked) + label,.add-international .new-book4 .card-body ul li [type="radio"]:not(:checked) + label{color: #000000;}


/*fit-fly-search*/

.fit-fly-steps ul.steps li{width: 33.33%;}
.fit-fly-steps ul.steps li a{z-index: 1;}
.fit-fly-steps ul.steps li a .icon{width: 50px; height:50px;position: relative;background-color: #dadada;}
.fit-fly-steps ul.steps li a .icon img{max-width:25px;}
.fit-fly-steps ul.steps li:before{content: ""; position: absolute; left: -50%; top: 25px; width: 100%; height: 3px; background: #dadada;}
.fit-fly-steps ul.steps li.active:before{background:rgba(12,91,151,0.40);}
.fit-fly-steps ul.steps li.active .text-wrap p.t-grey{color: #0c5b97;}
.fit-fly-steps ul.steps li.active a .icon{background-color:#0c5b97;}

.fit-fly-steps ul.steps li:nth-child(1):before{display: none;}
.fit-fly-steps ul.steps li:nth-child(2):before{background:rgba(12,91,151,0.40);}




.box-container{position: relative;width:230px;height:230px;background-color: #ffffff;z-index: 1; padding: 20px;}
.box-container img{position: absolute; left: 0; right: 0; margin: 0 auto; top: 50%; transform: translateY(-50%); object-fit: cover; width: 210px;}
.box-container .box1,.box-container .box2,.box-container .box1,.box-container .box3,.box-container .box4{position: absolute; left: 2px; right: 2px; top: 2px; bottom: 2px; height: 226px; width: 226px; background-color: #ffffff; z-index: -1;}
.box-container .box1:before{content:"";position: absolute;left:-2px;top:-2px;width:2px;height:50px;background-color: #0C5B97;}
.box-container .box1:after{content:"";position: absolute;left:0px;top:-2px;width:50px;height:2px;background-color: #0C5B97;}
.box-container .box2:before{content:"";position: absolute;right:-2px;top:-2px;width:2px;height:50px;background-color: #0C5B97;}
.box-container .box2:after{content:"";position: absolute;right:0px;top:-2px;width:50px;height:2px;background-color: #0C5B97;}
.box-container .box3:before{content:"";position: absolute;left:-2px;bottom:-2px;width:2px;height:50px;background-color: #0C5B97;}
.box-container .box3:after{content:"";position: absolute;left:0px;bottom:-2px;width:50px;height:2px;background-color: #0C5B97;}
.box-container .box4:before{content:"";position: absolute;right:-2px;bottom:-2px;width:2px;height:50px;background-color: #0C5B97;}
.box-container .box4:after{content:"";position: absolute;right:0px;bottom:-2px;width:50px;height:2px;background-color: #0C5B97;}

/*
.box-container:before{content: "";position: absolute;left:-2px;right:-2px;top:0;width:calc(100% + 4px);height:30px;z-index: -1;background-color: red;}*/


/*fit_to_fly*/
.add-new-member-form.fit-fly .time-red{background-color: #F83030;}
.add-new-member-form.fit-fly .time-red a{color: #ffffff;}
.add-new-member-form.fit-fly .time-border{border:1px solid #0C5B97;}
.add-new-member-form.fit-fly .time-border a{color: #000000;}
.add-new-member-form.fit-fly .time-green{background-color:#187932;}
.add-new-member-form.fit-fly .time-green a{color: #ffffff;}
.add-new-member-form.fit-fly ul.time-slot li{width:10%;min-width: 100px;margin:0 10px 30px 0;border-radius:50px;font-size: 12px;font-weight:600;text-align: center;}
.add-new-member-form.fit-fly ul.time-slot li a{padding:5px 20px;display: block;} 


/*select-trips*/
.fit-fly-steps .card{background-color: transparent;}
.fit-fly-steps .card-header{z-index: 1;margin-bottom:-20px;}
.fit-fly-steps .card-header:first-child{border-radius:8px;}
.fit-fly-steps .card-header a:before{content: "";position: absolute;right:20px;top:50%;transform: translateY(-50%);background-image: url(../images/down.svg);background-position: right center; background-repeat: no-repeat;width:21px;height:9px;}
.fit-fly-steps .card-body{border:1px solid #0C5B97; border-radius:0 0 7px 7px;}
.fit-fly-steps .date-block ul li.active a{color: #0C5B97;}
.fit-fly-steps select.form-control{text-transform: uppercase;color: #1E1F20;border:none !important;}


.fit-fly-steps .select-trips .card-body ul li label:before,.fit-fly-steps .select-trips .card-body ul li label:after{display: none;}
.fit-fly-steps .select-trips .card-body ul li [type="radio"]:checked + label{color: #0C5B97;}
.fit-fly-steps .select-trips .card-body ul li [type="radio"]:not(:checked) + label{color: #000000;}

.fit-fly-steps .input-field-ui select{background:none !important;}

.fit-fly-steps .non-uk-address{display: none;}
.add-uk .uk-address{display: block;}
.add-uk .non-uk-address{display: none;}
.add-non-uk .non-uk-address{display: block;}
.add-non-uk .uk-address{display: none;}

.non-uk-address .form-control{color: #0C5B97;}


.fit-fly-steps .non-uk-shipping-address{display: none;}
.add-uk .non-uk-shipping-address{display: none;}
.add-non-uk .non-uk-shipping-address{display: block;}

.fit-fly-steps.last .passenger .card-body ul li label:before,.fit-fly-steps.last .passenger .card-body ul li label:after{display: block;}
.fit-fly-steps.last .card-body ul li label:before,.fit-fly-steps.last .card-body ul li label:after{display: none;}
.fit-fly-steps.last .card-body ul li [type="radio"]:checked + label{color: #0C5B97;}
.fit-fly-steps.last .card-body ul li [type="radio"]:not(:checked) + label{color: #000000;}

.fit-fly-steps.last .passenger .card-body ul li [type="radio"]:checked + label,.fit-fly-steps.last .passenger .card-body ul li [type="radio"]:not(:checked) + label{color: #0C5B97;}




/*new-booking*/
.fit_fly_review .card{background-color: transparent;}
.fit_fly_review .card-header{z-index: 1;margin-bottom:-20px;}
.fit_fly_review .card-header:first-child{border-radius:8px;}
.fit_fly_review .card-header a:before{content: "";position: absolute;right:20px;top:50%;transform: translateY(-50%);background-image: url(../images/down.svg);background-position: right center; background-repeat: no-repeat;width:21px;height:9px;}
.fit_fly_review .card-body{border:1px solid #0C5B97; border-radius:0 0 7px 7px;}
.fit_fly_review .date-block ul li.active a{color: #0C5B97;}
.fit_fly_review  select.form-control{text-transform: uppercase;color: #1E1F20;border:none !important;}
.review-confirm-page.fit_fly_review .review-detail .member-list .list-block{border:none;}

label.processing {padding: 5px 10px; border-radius: 5px 0 0 5px; background-color: #daab13; margin-right: -8px;}
label.ready-pickup {padding: 5px 10px; border-radius: 5px 0 0 5px; background-color: #5b64f8; margin-right: -8px;}