@media (min-width: 1800px) and (max-width: 3000px) {
}
@media (min-width: 1400px) and (max-width: 1800px) {
 
}
@media (min-width: 200px) and (max-width: 1199px) {

}
@media (min-width: 1200px){
}

/* ===================================================== */
/* =============   TABLET LANDSCAPE VIEW CSS =========== */
/* ===================================================== */	
@media (min-width: 1024px) and (max-width: 1299px){
h1 { font-size: 45px; line-height: 56px; }
.navbar.navbar-expand-lg .navbar-collapse .nav-item .nav-link { margin: 0 25px; }
.footer-logo p { padding-right: 80px; }
.branches-sub-topics { padding-left: 10px; padding-right: 60px; }
.blackbox img { width: 25px; }
.blackbox { padding: 10px 10px; }
.font13 { font-size: 10px; }
.row{padding-left: 10px;padding-right: 10px;}
.padleft10ipad{padding-left: 15px!important;}
.grey-border-box { padding: 0px 22px 30px 22px;}
.padtb150 { padding-top: 70px;  padding-bottom: 70px;}
.padtop100 {padding-top: 60px;}
.slider .slick-list.draggable { margin-left: 0%;}   
.wxs-100 {  width: auto!important;}
.hp-about-sciprep-video .wrapper{height: 350px;}
}
@media (min-width: 991px) and (max-width: 1023px){
h1 { font-size: 45px; line-height: 56px; }
.navbar.navbar-expand-lg .navbar-collapse .nav-item .nav-link { margin: 0 25px; }
.footer-logo p { padding-right: 80px; }
.branches-sub-topics { padding-left: 10px; padding-right: 60px; }
.blackbox img { width: 25px; }
.blackbox { padding: 10px 10px; }
.font13 { font-size: 10px; }
.row{padding-left: 10px;padding-right: 10px;}
.padleft10ipad{padding-left: 15px!important;}
.grey-border-box { padding: 0px 22px 30px 22px;}
.padtb150 { padding-top: 70px;  padding-bottom: 70px;}
.padtop100 {padding-top: 60px;}
.navbar-collapse { justify-content: left;}
.padleft0pro{padding-left: 0!important;}
.call-box { top: 17px!important;}
.wxs-100 {  width: auto!important;}
.hp-about-sciprep-video .wrapper{height: 350px!important;}
}
/* ===================================================== */
/* =============   TABLET POTRAIT VIEW CSS ============= */
/* ===================================================== */	
@media (min-width: 768px) and (max-width: 1023px){
h1 { font-size: 35px; line-height: 50px; }
h2 { font-size: 27px;}
.call-box { position: absolute; right: 80px; top: 5px; }
.footer-logo p { padding-right: 30px; }
.header-section { padding-top: 67px; }
.navbar .header-logo { width: 50%; padding-left: 15px; }
.font13 { font-size: 11px; }
.fixed-top { box-shadow: 0px 0px 20px 0px #e0e0e0; }
.grey-border { padding: 19px 19px; }
.small-pink-font {font-size: 14px;}
.row{padding-left: 10px;padding-right: 10px;}
.mt-5, .my-5 {  margin-top: 1.5rem!important;}
.blackbox { padding: 10px 10px;}
.padtbipad50 { padding-top: 50px; padding-bottom: 50px; }
.grey-border-box { padding: 0px 20px 30px 20px;}
.padleft0ipad{padding-left: 0;}
.whtbox-form { margin: 0px 0px;}
.padtb100 { padding-top: 60px; padding-bottom: 60px;}
.font45 { font-size: 32px; line-height: 37px;}
.padbot160 { padding-bottom: 70px;}
.padtb150 { padding-top: 70px;  padding-bottom: 70px;}
.padtop100 {padding-top: 50px;}
.slider .slick-list.draggable {  margin-left: 1%;}
.slick-slide.slick-current, .slick-slide.slick-active { width: 338px!important;}
.testimonial-slider.slider { margin-bottom: 117px!important;}
.slider .slick-dots {  bottom: -100px;}
.slider .slick-prev{left: 0px;z-index: 1;}
.slider .slick-next{right: 0px;}
.wxs-100 {  width: auto!important;}
.hp-about-sciprep-video .wrapper{height: 300px;}

}
/* ===================================================== */
/* =================   MOBILE VIEW CSS ================= */
/* ===================================================== */	
@media (min-width: 320px) and (max-width: 767px){
h1 { font-size: 35px; line-height: 47px; }
h2 { font-size: 33px; }
.row { padding-left: 5px; padding-right: 5px; }
.padlrxs { padding-left: 15px; padding-right: 15px; }
.padtopxs50 { padding-top: 50px; }
.padbotxs50 { padding-bottom: 50px; }
.padtopxs20 { padding-top: 20px; }
.call-box { position: absolute; right: 54px; top: 9px; }
.navbar .header-logo { width: 50%; padding-left: 15px; }
.navbar-collapse { background: #f6f1ef; }
.header-section { padding-top: 70px; }
.fixed-top { height: 70px; padding: 9px 0px; box-shadow: 0px 0px 20px 0px #e0e0e0; }
.footer-section .footer-logo p { padding-right: 20px; }
.footer-section .padleft30 { padding-left: 15px; }
.call-box img { width: 40px; }
.blackbox img { width: 25px; }
.blackbox{width: 220px;}
.call-link-text { font-size: 14px; }
.font-sm-pink { font-size: 11px; }
.navbar-light .navbar-toggler { top: 18px; }
.pink-button-box { justify-content: left; }
.grey-border { padding: 25px 25px; }
.padtop33 { padding-top: 23px; }
.border-bottom-pink:after { margin-top: 12px;}
.row-reverse{flex-direction: column-reverse;}
.padtop0xs{padding-top: 0!important;}
.mtb85 {margin-top: 43px;}
.pt-5, .py-5{    padding-top: 1rem!important;}
.pb-5, .py-5 {  padding-bottom: 1rem!important;}
.padleftxs0{padding-left: 0!important;}
.padtb100 { padding-top: 50px;padding-bottom: 50px;}
.whtbox-form { margin: 50px 0px 0px 0px;}
.padtb150 {  padding-top: 50px;  padding-bottom: 50px;}
.padtop100 {padding-top: 50px;}
.whtbox{width: 280px;padding: 15px 20px;}
.padleft15xs{padding-left: 15px!important;}
.padleft7xs{padding-left: 7px!important;}
.font45 {  font-size: 33px;line-height: 40px;}
.slider .slick-list.draggable {margin-left: 0%; padding: 0!important;}
.slick-slide.slick-current, .slick-slide.slick-active{width: 340px!important;}
.slider .slick-prev{left: 0px;z-index: 1;}
.slider .slick-next{right: 0px;}
.grey-border-box { padding: 0px 25px 30px 25px;}
.slider .slick-dots {   bottom: -78px;}
.wxs-100 {  width: auto!important;}
.testimonial-slider.slider {   margin-bottom: 110px!important;}
.pr-5, .px-5 {padding-right: 1rem!important;}
.hp-about-sciprep-video .wrapper{    height: 250px;}
}

/* ===================================================== */
/* ===============  iPHONE 5S SMALL VIEW CSS =========== */
/* ===================================================== */	
@media (min-width: 320px) and (max-width: 340px) {
    .slick-slide.slick-current, .slick-slide.slick-active{width: 288px!important;}
    .testimonial-slider.slider {  margin-bottom: 138px!important;}
    .slider .slick-dots {   bottom: -110px;}
    .grey-border-box {height: 373px;}
       
}