
@font-face {font-family: 'Airbnb-CerealBook'; src: url('../fonts/AirbnbCerealBook.ttf'); }
@font-face {font-family: 'Airbnb-CerealLight'; src: url('../fonts/AirbnbCerealLight.ttf'); }
@font-face {font-family: 'Airbnb-CerealBold'; src: url('../fonts/AirbnbCerealBold.ttf'); }
@font-face {font-family: 'Airbnb-CerealMedium'; src: url('../fonts/AirbnbCerealMedium.ttf'); }
@font-face {font-family: 'Airbnb-ExtraBold'; src: url('../fonts/AirbnbCerealExtraBold.ttf'); }

body {font-family: 'Airbnb-CerealBook', sans-serif;}
p{ font-size: 15px;line-height: 30px; color: #646464;}
a {transition: all .3s ease-out 0s;text-decoration: none;}
a:hover {text-decoration: none;}
h1, h2, h3, h4, h5, h6 {margin-bottom: 0; font-family: 'Airbnb-CerealBold',sans-serif;font-weight: 600;}
h2, h4{font-family: 'Airbnb-ExtraBold',sans-serif;}
h1{font-size: 55px;line-height: 75px;}
h2{font-size: 42px;}
h3{font-size: 30px;}
h4{font-size: 20px;}
button:focus {outline: none;}

.container{max-width: 1300px;}
.background-dark-pink{background: #f6f1ef;}
.background-lite-pink{background: #f6f1ef;}
.background-pink{background: #ef7476;}
.background-grey{background: #F5F1EF;}
.header-section{padding-top: 99px;}
.fontw300{font-weight: 300;}
.fontw600{font-weight: 600;}
.font-pink{color: #FA7A7B;}
.font-white{color: #ffffff;}
.fontwbold{font-family: 'Airbnb-CerealBold', sans-serif;}
.fontwebold{font-family: 'Airbnb-ExtraBold',sans-serif;}
.navbar-collapse{justify-content: flex-end;}
.navbar .navbar-collapse .nav-item .nav-link {font-size: 15px;padding: 16px 7px;overflow-y: auto; color: #646464;margin: 0 30px;font-family: 'Airbnb-CerealMedium', sans-serif;}
.navbar .navbar-collapse .nav-item .nav-link:hover{color: #FA7A7B;}
.header-section .navbar-nav a.nav-link.active{color: #FA7A7B;border-bottom: solid 4px #FA7A7B;font-weight: 500;display: inline-block;}
.call-link-text a{color: #323232;}
.fixed-top{padding: 9px 10px;}
.header-logo{width: 150px;}
.font-sm-pink{font-size: 12px;color: #FA7A7B;font-family: 'Airbnb-CerealBold', sans-serif;}
.navbar-light .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.navbar-light .navbar-toggler {  border-color: none;position: absolute;right: 15px;top: 21px;}
.navbar-toggler {  padding: 0px;}
.footer-section{ background: #19201f;}
.wht-small-pera{ font-size: 14px; color: #F4F4F4; line-height: 26px;max-width: 400px;}
.footer-title-font{font-size: 17px;font-family: 'Airbnb-CerealMedium', sans-serif;color: #ffffff;}
.footer-link-font ul, .social-link ul{list-style-type: none;margin: 0;padding: 0;}
.footer-link-font ul a{color: #F4F4F4;font-size: 14px;line-height: 40px;}
.footer-link-font ul a:hover{color: #FA7A7B;}
.social-link li img{width: 30px;}
.border-top-lite{border-top: 1px solid #a0a3a3;}
.max-width500{max-width: 500px;}
.max-width450{max-width: 450px;}
.max-width400{max-width: 400px;}
.call-link-text{font-size: 16px;}
.blackbox{background:#000; padding: 10px 16px;border-radius: 5px;}
.font13{font-size: 13px;font-family: 'Mulish', sans-serif;color: #ffffff;line-height: 20px;}
.small-pink-font{font-size: 14px;color: #FD6F63;letter-spacing: 1px;}
.line-height35{line-height: 35px;}
.line-height25{line-height: 25px;}
.padtop33{padding-top: 33px;}
.padbot160{padding-bottom: 160px;}
.padtb100{padding-top: 100px; padding-bottom: 100px;}
.padtop100{padding-top: 100px;}
.padtb150{padding-top: 150px; padding-bottom: 150px;}
.border-bottom-pink:after{content: "";border-bottom: solid 4px #FA7A7B;display: block; width: 150px;margin-top: 20px;}
.pink-button {background: #EF7475;padding: 15px 25px;color: #ffffff;border: 0;font-size: 15px;border-radius: 3px; font-family: 'Airbnb-CerealMedium',sans-serif;border:solid 1px #EF7475;transition: all 0.5s;}
.pink-button:after{content: "";background: url(../images/arrow-right.png);width: 17px; height: 12px;display: inline-block;margin-left: 20px;}
.pink-button:hover:after{content: "";background: url(../images/arrow-right-pink.png);width: 17px; height: 12px;display: inline-block;margin-left: 20px;}
.pink-button:hover{border:solid 1px #EF7475;color: #EF7475;background: transparent;transition: all 0.5s;}
.pink-button-box{justify-content: flex-end;}
.pink-button-big {width: 100%;background: #EF7475;padding: 14px 25px;color: #ffffff;border: 0;font-size: 18px;border-radius: 3px; font-family: 'Airbnb-CerealMedium',sans-serif;border:solid 1px #EF7475;transition: all 0.5s;}
.pink-button-big:hover{border:solid 1px #EF7475;color: #EF7475;background: transparent;transition: all 0.5s;}
.grey-border{border:solid 1px #F2F2F2;border-radius: 8px;padding: 30px 32px;}
.grey-border-box{border:solid 1px #F2F2F2;border-radius: 8px;padding: 0px 32px 30px 32px;}
.mtb85 { margin-top: -110px;  margin-bottom: -187px;}
.border-top-grey{border-top: solid 1px #F2F2F2;}
.testimonial-name{padding-left: 20px;}
.font17{font-size: 17px;font-family: 'Airbnb-CerealBold', sans-serif;line-height: 20px;}
.font14{font-size: 14px;color: #969696;font-family: 'Airbnb-CerealBook', sans-serif;}
.font14-sm{font-size: 14px;}
.font18{font-size: 18px;}
.mrtopm22{ margin-top: -22px;}
.call-link-text a:hover{color: #FA7A7B;}
.whtbox a:hover p{color: #EF7475;transition: all 0.5s;}
.whtbox{background: #ffffff;padding: 15px 35px;display: inline-block;border-radius: 5px;box-shadow: 0px 3px 10px 0px #bdbcbc47;width: 300px;}
.whtbox-form{background: #ffffff;padding: 25px;border-radius: 5px;margin: 0px 45px;box-shadow: 0px 0px 20px 0px #bdbcbc47;}
.form-group{margin-bottom: 27px;}
.form-control{background: #fafafa;border: none;padding: 27px 20px;}
.form-control::placeholder { color: #969696;}
.font45{font-size: 45px; line-height: 60px;}

/* privacy policy page */
.written-bg{background: url(../images/written-bg.jpg) no-repeat;background-position: bottom center;background-size: cover;}
.search-tablet-bg{background: url(../images/search-tablet-bg.jpg) no-repeat;background-position: bottom center;background-size: cover;}
/* slider */
.slick-prev:before, .slick-next:before{color: red!important;}
.slick-slide {margin: 0px 15px; }
.slider .slick-list{overflow-x: clip;overflow-y: visible;}
.slider .slick-prev{left: 85px;z-index: 1;}
.slider .slick-next{right: 85px;}
.slider .slick-prev:before{content: ''; background: url(../images/slider-arrow-left.png); width: 75px; height: 75px;display: block;}
.slider .slick-next:before{content: ''; background: url(../images/slider-arrow-right.png); width: 75px; height: 75px;display: block;}
.slider .slick-prev, .slider .slick-next{display: flex;  align-items: center;  width: 75px;height: 75px;}
.slider .slick-list.draggable{margin-left: 16%;padding: 0!important;}
.slider .slick-dots li button:before{font-size: 35px;color: #d8d8d8;}
.slider .slick-dots li.slick-active button:before{color: #ef7475;}
.slider .slick-dots{bottom: -40px;}
.testimonial-slider{padding-left: 0; padding-right: 0;}
.testimonial-slider.slider{margin-bottom: 70px!important;}
.slick-slide.slick-current, .slick-slide.slick-active{ width: 553px!important;}
.contact-section{clear: both;}
.slick-track{height: 300px;}
.slick-initialized .slick-slide { height: 174px;}
/* services page */
.services-bg{background: url(../images/our-services-bg.jpg) no-repeat;background-position: top center;background-size: cover;}
/* about page */
.about-bg{background: url(../images/team-bg.jpg) no-repeat;background-position: center;background-size: cover;}

.hp-about-sciprep-video .wrapper {position:relative; width: 100%; height: 460px; background-color: #F2F2F2;}
.hp-about-sciprep-video .wrapper img {width: 100%; height: 100%; }
.hp-about-sciprep-video .wrapper iframe {display:none; }
.hp-about-sciprep-video .play-btn {position:absolute; z-index:666; top:50%; left:50%; transform:translate(-50%, -50%); background-color:transparent; border:0; z-index: 0;}
.hp-about-sciprep-video .play-btn:hover {cursor:pointer; }
.hp-about-sciprep-video .play-btn:focus {outline:0; }