@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/Poppins-ExtraLight.woff') format('woff'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Thin.woff2') format('woff2'), url('../fonts/Poppins-Thin.woff') format('woff'); font-weight: 100; font-style: normal; font-display: swap; }
/* commom css */
*{margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a{text-decoration: none; transition:  0.2s ease-in;}
a:hover{text-decoration: none;}
body{font-size: 16px; color: #5A5B70; line-height: 1.8; font-family: 'Poppins'; font-weight: 400;}
html{scroll-behavior: smooth;}
button{outline: 0; border: 0; background: transparent;}
button:focus{outline: 0;}
input:focus{outline: 0; box-shadow: none !important;}
.container{max-width: 1100px;}
.container-large{max-width: 1380px; margin: 0 auto; padding: 0 15px;}
.hp-banner-container{max-width: 1400px; margin: 0 auto; padding: 0 15px;}
h1{font-size: 56px;}
h2{font-size: 40px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 20px;}
h6{font-size: 18px;}
.font-10{font-size: 10px;}
.font-12{font-size: 12px;}
.font-13{font-size: 13px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-17{font-size: 17px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.border-blue{border: 1px solid #0C5B97;}
.border-r5{border-radius: 5px;}
.border-r10{border-radius: 10px;}
.border-r20{border-radius: 20px;}
.border-r50{border-radius: 50px;}
.border-50{border-radius: 100%;}
.t-red{color: red;}
.t-black{color: #000;}
.t-grey{color: #5A5B70;}
.t-violet{color: #0A083B;}
.t-blue{color: #0C5B97;}
.t-darkblue{color: #36455A;}
.t-green{color: #187932;}
.bg-green{background-color: #187932;}
.bg-blue{background-color: #0C5B97;}
.bg-grey{background-color: #F6F6F6;}
.black-link{color: #000;}
.black-link:hover{color: #187932;}
.white-link{color: #fff;}
.white-link:hover{color: #fff;}
.shadow-1{box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);}
.shadow-blue{box-shadow: 0 0.5rem 1rem #e0eaf2;}
.form-control{border-radius: 0; border: 0; background-color: transparent;}
.form-control:focus{box-shadow: none; outline: 0; background-color: transparent;}
.relative{position: relative;}
.form-control::placeholder{color: #C0C3C8;}
.text-underline{text-decoration: underline !important;}
.pointer{cursor: pointer;}
.btn-green{box-shadow: inset -6.5em 0 0 0 #187932, inset 6.5em 0 0 0 #187932; border: 2px solid #187932; font-size: 14px; padding: .6em 2em; border-radius: 5px; color: #fff; transition: .31s; text-decoration: none; display: inline-block;}
.btn-green:hover{ background: 0 0; box-shadow: inset 0em 0 0 0 #187932, inset 0em 0 0 0 #187932; color: #187932; border: 2px solid #187932;}
.btn-green-lg{border-radius: 5px; padding: .6em 2em; color: #fff; font-size: 14px; background: 0 0; border: 2px solid #187932; position: relative; box-sizing: border-box; z-index: 0; position: relative; display: inline-block; text-align: center; min-width: 280px;}
.btn-green-lg:before, .btn-green-lg:after {position: absolute; content: ""; width: 52%; background-color: #187932; z-index: -1; top: -1px; bottom: -1px; transition: all .3s ease; }
.btn-green-lg:before {left: -1px; border-radius: 5px 0 0 5px; }
.btn-green-lg:after {right: -1px; border-radius: 0 5px 5px 0; }
.btn-green-lg:hover {color: #187932; }
.btn-green-lg:hover:before, .btn-green-lg:hover:after {width: 0%; color: #fff; }
.btn-blue{border-radius: 5px; padding: .6em 2em; color: #0C5B97; font-size: 14px; background: 0 0; border: 2px solid #0C5B97; position: relative; box-sizing: border-box; z-index: 0; position: relative; display: inline-block; text-align: center; min-width: 280px;}
.btn-blue:before, .btn-blue:after {position: absolute; content: ""; width: 0%; background-color: #0C5B97; z-index: -1; top: -1px; bottom: -1px; transition: all .3s ease; }
.btn-blue:before {left: -1px; border-radius: 5px 0 0 5px; }
.btn-blue:after {right: -1px; border-radius: 0 5px 5px 0; }
.btn-blue:hover {color: #fff; }
.btn-blue:hover:before, .btn-blue:hover:after {width: 52%; color: #fff; }
.btn-blueone{box-shadow: inset -6.5em 0 0 0 #0C5B97, inset 6.5em 0 0 0 #0C5B97; border: 2px solid #0c5b97; font-size: 14px; padding: .2em 1em; border-radius: 5px 0px 0px 5px; color: #fff; transition: .31s; text-decoration: none; display: inline-block;}
.btn-blueone:hover{ background: 0 0; box-shadow: inset 0em 0 0 0 #0C5B97, inset 0em 0 0 0 #0C5B97; color: #0C5B97; border: 2px solid #0C5B97;}
.btn-red-lg{border-radius: 5px; padding: .6em 2em; color: #fff; font-size: 14px; background: 0 0; border: 2px solid #E81935; position: relative; box-sizing: border-box; z-index: 0; position: relative; display: inline-block; text-align: center; min-width: 280px;}
.btn-red-lg:before, .btn-red-lg:after {position: absolute; content: ""; width: 52%; background-color: #E81935; z-index: -1; top: -1px; bottom: -1px; transition: all .3s ease; }
.btn-red-lg:before {left: -1px; border-radius: 5px 0 0 5px; }
.btn-red-lg:after {right: -1px; border-radius: 0 5px 5px 0; }
.btn-red-lg:hover {color: #E81935; }
.btn-red-lg:hover:before, .btn-red-lg:hover:after {width: 0%; color: #fff; }
/* header css */
.menu.sticky-header{background: #fff; position: sticky; top: 0; left: 0; right: 0; z-index: 11; box-shadow: 0 5px 15px #e0eaf280;}
.menu a.navbar-brand, footer a.navbar-brand {max-width: 100px; }
.menu .navbar-nav .nav-item .nav-link{color: #5A5B70;}
.menu .navbar-nav .nav-item.active .nav-link, .menu .navbar-nav .nav-item .nav-link:hover {color: #187932;text-shadow: 0 0 1px #187932;}
.menu .navbar-nav .nav-item{margin: 0 10px;}
/* footer */
.bg-footer-color{background-color: #F6FAFF;}
footer{background-color: #F6FAFF; padding: 40px 0 40px;}
footer .social-icons-footer li{margin-right: 15px;}
.quick-links li{margin-bottom: 15px;}
/* home page css */
.social-icons li{margin-right: 15px;}
.location{background: url('../images/pin.png') no-repeat left center; padding-left: 25px; background-size: 10px;}
.call{background: url('../images/call.png') no-repeat left center; padding-left: 30px;}
.download-app-img {margin-bottom: -110px;}
.banner{background: url('../images/banner-bg-img.jpg') no-repeat center center; background-size: cover;    margin-top: -147px; padding-top: 90px;}
.hp-what-we-do{background: url('../images/hp-bg-img2.jpg') no-repeat center center; background-size: cover;}
.banner-main-img{margin-bottom: -60px;}
.testing-list h1{color: #E0EAF2; margin-top: -44px; }
/* left bar nav */
.container-large{max-width: 1380px; margin: 0 auto; padding: 0 15px;}
.account-div-height{min-height: 600px;}
.my-profile-nav li a{padding: 15px; padding-left: 55px; border-radius: 5px 0 0 5px; display: block; background-color: transparent; transition: 0.2s ease-in; position: relative;}
.my-profile-nav li{margin-bottom: 5px;}
.my-profile-nav li.active a, .my-profile-nav li a:hover{background-color: #187932;}
.prof-nav-booking{background: url('../images/my-booking.png') no-repeat left 15px center;}
.prof-nav-member{background: url('../images/member.png') no-repeat left 15px center;}
.prof-nav-edit{background: url('../images/edit-prof.png') no-repeat left 15px center;}
.prof-nav-help{background: url('../images/prof-help.png') no-repeat left 15px center;}
.logout{ padding-left: 55px; display: block; background: url('../images/logout.png') no-repeat left 25px center;}
/* my-booking page */
.my-booking .my-booking-lists .my-booking-lists-div1{flex-basis: 40%}
.my-booking .my-booking-lists .my-booking-lists-div2{flex-basis: 20%}
.my-booking .my-booking-lists .my-booking-lists-div3{flex-basis: 40%}
label.upcoming{padding: 5px 10px; border-radius: 5px 0 0 5px; background-color: #EEBD1C; margin-right: -8px;}
label.clone-booking{color: #187932; text-decoration: underline;}
.my-booking-lists li .my-booking-list-box{border: 2px solid transparent; transition: 0.2s ease-in;}
.my-booking-lists li.active .my-booking-list-box, .my-booking-lists li .my-booking-list-box:hover{border: 2px solid #187932;}
.my-booking .nav-tabs {border: 1px solid #989898; max-width: 490px; }
.my-booking .nav-tabs .nav-link {color: #989898; font-size: 20px !important; border-radius: 50px; }
.my-booking .nav-tabs .nav-item {margin: -1px; width: 50%; text-align: center; }
.my-booking .nav-tabs .nav-link.active {color: #fff; background-color: #0c5b97; }
/* booking detail page */
label.processing{padding: 3px 8px; border-radius: 5px 0 0 5px; background-color: #EEBD1C; margin-right: -16px;}
label.negative{padding: 3px 8px; border-radius: 5px 0 0 5px; background-color: #1CA6EE; margin-right: -16px;}
/* member-list page */
.member-list .member-list-img{width: 80px; height: 80px;}
.member-list .member-list-img img{width: 80px; height: 80px; object-fit: cover;}
p.mem-location{padding-left: 15px; background: url('../images/mem-location.jpg') no-repeat left top 7px;}
/* add new member page */
.input-field-ui .form-control{ border-bottom: 1px solid #C5C5D4 !important; padding: 0; color: #242E42; font-size: 14px; font-weight: 500; min-height: 35px;}
.input-field-ui .form-control.form-control-box{border: 1px solid #0C5B97 !important; padding: 0 10px !important; border-radius: 5px;}
.mem-prof-img{width: 80px; height: 80px; margin: -90px auto 0; }
.mem-prof-img img{width: 80px; height: 80px; object-fit: cover; border: 2px solid #D3D3D3;}
.input-field-ui .custom-checkbox-green .custom-control-label::before {width: 23px; height: 23px; top: 2px; background-color: transparent; border: 0; background: url(../images/uncheck-square.png) no-repeat center center; border-radius: 6px; transition: 0.2s ease-in; box-shadow: none;}
.input-field-ui .custom-checkbox-green.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: url(../images/check-square.png) no-repeat center center; box-shadow: none;
}
.input-field-ui .custom-checkbox-green.custom-checkbox .custom-control-input:not(:checked)~.custom-control-label::before{box-shadow: none;}
.input-field-ui .custom-checkbox-green.custom-checkbox .custom-control-input:checked~.custom-control-label::after {background-image: none; }
.input-field-ui select {-webkit-appearance: none; -moz-appearance: none; background: url('../images/select-angle.png') no-repeat right 5px center  !important; padding-right: 30px !important;}
.input-field-ui select option{padding: 5px !important;}
.input-field-ui select.form-control.select-angle-blue {background: url('../images/select-angle-blue.png') no-repeat right 5px center  !important ; padding-right: 30px !important;}
.input-field-ui .custom-radio{width: 33.3% !important; text-align: center !important;}
.input-field-ui .custom-radio label{position: static !important; padding-left: 0 !important; color: #C0C3C8 !important;}
.input-field-ui .custom-radio label::before{content: ""; position: absolute !important; bottom: 6px !important; width: 100% !important; height: 3px !important; top: auto !important; transform: translateY(0) !important; border: 0 !important; border-radius: 0 !important; background-color: #187932 !important; left: 0 !important; right: 0 !important; transition: 0.1s ease-in !important; opacity: 0 !important; visibility: hidden !important;}
.input-field-ui .custom-radio .custom-control-input:checked~ label::before{opacity: 1 !important; visibility: visible !important; bottom: -1px !important;}
.input-field-ui .custom-radio .custom-control-input:checked~ label{color: #187932 !important;}
.input-field-ui .custom-radio label::after{display: none !important;}
.input-field-ui .date-range-btn{position: absolute; right: 5px; bottom: 5px;}
.input-field-ui .form-control.add_search-icon{background: url('../images/add-search.png') no-repeat right 10px center; padding-right: 30px !important;}
/* add-card */
.add-card .form-control{ border: 1px solid #B4B4B4 !important; min-height: 40px; border-radius: 5px; padding: 5px 10px;}
/* payment page */
ul.payment-card-list li .cards-list{ padding-right: 43px !important; border: 1px solid transparent;}
ul.payment-card-list li.active .cards-list{background: url('../images/check-icon.png') no-repeat right 15px center; border: 1px solid #00AA7E; background-color: transparent !important;}
/*  */


.search-icon{top: 2px;right: 10px;}

/* search box */
.search-box .search-field1 {padding: 5px; display: flex; background-color: white; box-shadow: 0 0 10px grey; border-radius: 5px; opacity: 0; visibility: hidden; position: absolute; transition: all 0.3s ease-in-out !important; left: 50%; transform: translateX(-50%); bottom: -120px; z-index: 1; }
.search-box .form-active {opacity: 1; visibility: visible; bottom: -100px; }
.search-box input {border: 0; outline: 0; }
.search-box .search-field1 input[type="text"] {min-height: 50px; width: 250px; border: 1px solid #187932; padding: 0px 10px; border-bottom-left-radius: 5px; border-top-left-radius: 5px; font-size: 16px; }
.search-box .search-field1 input[type="text"]::placeholder{color: #B2B2B2;}
.search-box .search-field1 input[type="submit"] {min-height: 50px; color: white; padding: 0px 20px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; font-size: 16px;     background: #187932;}


.parsley-errors-list>li:before {
    content: "";
}
.parsley-errors-list>li{
	font-size: 12px;
	margin-top: 0; 
   	padding-left: 0;
} 
/*.register_country_code .cc-picker{
	position: absolute;
	bottom: 9px;
	left: 0;
}*/
.register_country_code .cc-picker {
    position: relative;
    bottom: 9px;
    left: -104px;
    top: 30px;
}
.register_country_code .cc-picker-code {
    width: 13px;
}

.register_country_code #register_phone{
	margin-left: 55px;
    width: calc(100% - 55px);
}
