@media only screen and (max-width: 2560px) {
.hp-banner-container {max-width: 1700px; margin: 0 auto; padding: 0 15px; }
.hp-banner-container-content {max-width: 1375px; margin-left: auto; }
.hp-what-we-do .hp-banner-container-content{margin-right: auto; margin-left: 0;}


}

@media only screen and (max-width: 1699px) {
.hp-banner-container {max-width: 1440px;}
.hp-banner-container-content {max-width: 1243px;}


}

@media only screen and (max-width: 1439px) {
.hp-banner-container {max-width: 100%;}
.hp-banner-container-content {max-width: 1200px;}
h1 {font-size: 50px;}

}

@media only screen and (max-width: 1439px) {
.font-16 {font-size: 15px;}
}

@media only screen and (max-width: 1374px) {
.member-list-page .list-block .member-info .location .text{font-size:11px;}
}


@media only screen and (max-width: 1223px) {
.add-member ul.time-slot li{margin-right: 15px;}
.add-new-member-form.fit-fly ul.time-slot li{margin-right: 15px;}
}

@media only screen and (max-width: 1199px) {
h1 {font-size: 40px;}
h2{font-size: 35px;}
.clinical-registration .container-outer {max-width: 1130px;}

.area-block .media img{width: auto;}
/*search-01-page*/
.map-wrapper iframe{height:600px;}

.add-member ul.time-slot li{margin-right: 10px;}
.add-new-member-form.fit-fly ul.time-slot li{margin-right: 10px;}

.new-booking .card-header a:before{right: 15px;}
}

@media only screen and (max-width: 1039px) {
.review-detail .member-list .list-block .bottom-one ul li{margin-right: 5px;}
}

@media only screen and (max-width: 1024px) {
.menu a.navbar-brand{max-width: 80px;}
.banner {margin-top: -121px; padding-top: 100px; }

.font-34 {font-size: 30px;}

}

@media only screen and (max-width: 1012px) {
.menu .navbar-nav .nav-item a{font-size:14px;}

}

@media only screen and (max-width: 1007px) {
.review-detail .member-list .list-block .bottom-one ul li{margin-right: 3px;}
}

@media only screen and (max-width: 991px) {

.banner {padding-top: 120px;  margin-top: -85px; }
.menu .navbar-light .navbar-toggler {position: absolute; right: 15px; top: 22px; background: #0c5b97 url('../images/menu.png') no-repeat center center; background-size: 27px;}
.menu .navbar-light .navbar-toggler-icon {background-image: none; }
.menu .navbar-collapse {position: absolute; z-index: 2; top: 80px; left: 0; right: 0; background: #ebebeb; }
.menu .navbar-nav {height: 100vh; padding: 30px; }
.menu{background-color: #fff; position: relative;}
.menu a.navbar-brand {max-width: 50px; }


.clinical-registration .container-outer{max-width: none;background-color: transparent;}
.clinical-registration .container-outer .container{background-color: #F6F6F6;}
.sign-up > .container-fluid > .row,.log-in > .container-fluid > .row,.forgot-password > .container-fluid > .row,.change-password > .container-fluid > .row{width: auto !important;}
.skip-one{top: 0px;}

/*search-page*/
.area-block .content-wrapper .btn-area{position: inherit !important;}

/*member-list-page*/
.member-list-page .btn-wrap .btn-blue,.member-list-page .btn-wrap .btn-green-lg{min-width:180px;}
}


@media only screen and (max-width: 942px) {
.add-member ul.time-slot li {min-width: 99px;margin-right: 7px;}
.add-new-member-form.fit-fly ul.time-slot li{min-width: 99px;margin-right: 7px;}
    
}

@media only screen and (max-width: 918px) {
.new-booking .nav-tabs{display: flex; flex-wrap:nowrap; overflow-x: scroll;}
.new-booking .nav-tabs li{white-space: nowrap;}
.add-member ul.time-slot li {min-width: 95px;}
}

@media only screen and (max-width: 837px) {
.right-one .block-area label{font-size:12px;}

.block-area .btn-green-lg{min-width: auto;}
.font-34{font-size:30px;}
}

@media only screen and (max-width: 767px) {
.header-topbar .call {font-size: 0; min-width: 30px; min-height: 30px; background-position: center center; }
h1 {font-size: 30px;}
h2 {font-size: 26px;}


.font-34 {font-size: 30px}
.account-div-height {min-height: auto;}
.left-one .logo-wrapper img{max-width:150px;}

.new-booking .card-header{margin-bottom:-5px;}
.new-booking .border-right{border:none !important;}

}

@media only screen and (max-width: 650px) {
.modal650 {max-width: 530px;}
}

@media only screen and (max-width: 575px) {
.left-one .logo-wrapper img{max-width:140px;}
.right-one .block-area{max-width:400px;}
.btn-green-lg, .btn-blue{min-width: 230px;}
.booking-information-popup .right-side{text-align: left !important;}

/*search-01-page*/
.map-wrapper iframe{height:400px;}

.add-member ul.time-slot li{width:auto;min-width:80px; font-size:10px;margin-bottom:20px;}
.add-new-member-form.fit-fly ul.time-slot li{width:auto;min-width:80px; font-size:10px;margin-bottom:20px;}

.edit-member-profile-form h5{margin-bottom:50px !important; }
.edit-member-profile-form .input-field-ui {margin-top:70px !important;}

.fit-to-fly-popup .right-side{text-align: left !important;}
}

@media only screen and (max-width: 480px) {
	.left-one .logo-wrapper img{max-width:110px;}
	.left-one .copyright {bottom: -10px;}

}


@media only screen and (max-width: 390px) {

.font-17{font-size: 14px;}

.add-member ul.time-slot li {width: 45%;}
.add-new-member-form.fit-fly ul.time-slot li{width: 45%;}

}

@media only screen and (max-width: 320px) {

.font-34{font-size:25px;}
.font-18 {font-size: 16px;}
.font-17 {font-size: 14px;}
.right-one .block-area .form-group .icon{top:auto;transform: none;right:-5px;bottom:10px;}
.right-one .block-area .form-group .icon img{transform: scale(0.8);}	

/*booking-information-popup*/
.booking-information-popup .info-area .right-side{text-align: left !important;}
.booking-information-popup .btn-wrap .btn-area .btn-green-lg {padding: .6em 1em;}

/*search-01-page*/
.map-wrapper iframe{height:300px;}
.review-confirm-page .review-detail .btn-wrap .btn-green-lg{font-size: 12px;} 

}
